
        body {
            font-family: Arial, sans-serif;
            display: flex;
    
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        * {
            margin: 0;
            padding: 0;
          }
         
        #quoteBox {
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }
        button {
            padding: 10px 20px;
            background-color: #10ed68;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #2980b9;
        }
        #quote {
            font-size: 20px;
            margin-bottom: 20px;
        }
          body{
            transition: 0.5s all ease-in-out;
        
        }
        
          button {
            padding: 8px;
          }
          
          .container {
            width: 500px;
            margin: 20px auto;
          }
          
          #slider {
            position: relative;
            height: 400px;
            margin-bottom: 20px;
          }
          
          #slider img {
            width: 500px;
            height: 400px;
            position: absolute;
            transition: all .5s;
          }
          
          .buttons {
            display: flex;
            justify-content: space-between;
          }
        #quoteBox {
            text-align: center;
            padding: 20px;
            background-color: #0bb9e4;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(54, 8, 237, 0.1);
            max-width: 400px;
            width: 100%;
        }
        button {
            padding: 10px 20px;
            background-color: #14cdea;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #15e7bd;
        }
        #quote {
            font-size: 20px;
            margin-bottom: 20px;
        }

